/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {

color: #000;
font-size: 12px;
line-height: 1.4;
font-family: Helvetica, Arial, sans-serif;
background-color: #f8f9f4;
    
}

@font-face {
    font-family: Jonah;
    src: url(../fonts/Jonah-DEMO-Regular.ttf);
}

@font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis.ttf);
}

@font-face {
    font-family: MovLette;
    src: url(../fonts/MovLette.ttf);
}

@font-face {
    font-family: ethon;
    src: url(../fonts/ethon/ETH Serif/ETHSerifEthon.ttf);
}

/******************************************
/* LAYOUT                   
/*******************************************/


.background {
     
    
     border-radius: 5px;
     margin: auto;
     box-shadow: 0 1.5px 0 0 rgba(255, 0, 0, 0.5);
     background-color: #f8f9f4;
     height: 220px;
}

header h1 {
     margin-top: 110px;
     font-family: Metropolis;
     font-size: 80px;
     float: left;

}


.container {
     display: flex;
     flex-wrap: wrap;
     padding-top:10px;
     justify-content: space-around;
     height: 220px;
     background-image: url("../images/mpls2.jpg");
     background-repeat: no-repeat;


}

.item {
     text-align: center;
     font-family: Jonah;
     text-decoration: none;
     list-style-type: none;
     width: 12%;
     
}

/*This is the dropdown css*/

.dropdown{
    position: relative;
}

.dropdown-content {
     display: none;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0 auto;
    height: 175px;
    border-radius: 50%;
    padding-top: 10px;

}

.dropdown p {
    padding-top: 8px;
}
.dropdown a {
     text-decoration: none;
     color: white;
     font-family: ethon;
     font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*this is the main content of the page*/

h1 {
    font-family: Metropolis;
    font-size: 40px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:15px;
}

.main-content, .side-bar {
    
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px 0 rgba(255, 0, 0, 0.5);
    margin:5px;
    padding: 10px;
    background-color:silver;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
}
.main-content {
    flex-grow: 4;
    
    
}

.side-bar {
    
    flex-grow: 2;
   
}

.text-background {
    background-color: #f8f9f4;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    box-shadow:1px 1px 1px 1px gray  inset;
    font-size: 15px;
    

}
.text-background img {
    float: left;
    border-radius: 5px;
    margin-right: 10px;
}

.text-background p {
    margin-left: 10px;
    text-align: left;
}

.text-background ul {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 150px;
    margin-left: 150px;

}

.text-background li {
    color: white;
}
/*This is the slider pluging CSS ------------------------*/


/* Prevents slides from flashing */
#slides {     
 display:none;
    }



/*colors for later use
background-color: rgba(216,216,216,1);*/



